# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/emocracy/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
/emocracy/*Db.properties
/emocracy/*Db.script

# logs
/emocracy/stacktrace.log
/emocracy/test/reports
/emocracy/logs

# project release file
/emocracy/*.war

# plugin release files
/emocracy/*.zip
/emocracy/plugin.xml

# older plugin install locations
/emocracy/plugins
/emocracy/web-app/plugins

# "temporary" build files
/emocracy/target
emocracy/.idea/.name
